/* whole page */

html {
  min-height: 100%;
  position: relative;
}

body{
  padding: 0 10%;
  background: linear-gradient(65deg, #7286D3 60%, #E5E0FF 60%);
  font-family: 'Inter', sans-serif;
  font-weight: 900;
}

/* first greeting lines */

.greeting{
  font-family: 'Cedarville Cursive', cursive;
  font-family: 'Comfortaa', cursive;
}

.greeting-line-01{
  color: #13005A;
}

.greeting-line-02{
  color: #00337C;
}

/* profile photo */

.prof-img{
  border-radius: 250px;
  border: 2px solid #FFF2F2;
  padding: 10px;
}

.prof-img:hover{
  border-radius: 300px;
  border: 5px solid #00425A;
}

/* details ujnder profile photo */

#title-name{
  font-family: 'Great Vibes', cursive;
  font-size: 80px;
  color: #03C988;
  margin-block-end: 0px;
}

#birthday{
  font-family: 'Explora', cursive;
  color: #00337C;
  font-size: 20px;
  font-weight: bolder;
}

/* Main topic headings */

.main-topic-section{
  color: #e6e6e6;
}

.main-sub-heading{
  color: #003d99;
}

.sub-sub-heading{
  color: #1a75ff;
}

.details-in-text{
  color: #001f4d;
}

.skill{
  width: 160px;
  height: 160px;
  /* background: cornflowerblue; */
}

/* progress circles */

.outer{
  width: 160px;
  height: 160px;
  border-radius: 50%;
  box-shadow: 6px 6px 10px -1px rgba(0, 0, 0, 0.15),
              -6px -6px 10px -1px rgba(255, 255, 255, 0.7);
  padding: 20px;
}

.inner{
  width: 120px;
  height: 120px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: inset 4px 4px 6px -1px rgba(0, 0, 0, 0.2),
              inset -4px -4px 6px -1px rgba(255, 255, 255, 0.7),
              -0.5px -0.5px 0px rgba(255, 255, 255, 0.7),
              0.5px 0.5px 0px rgba(0, 0, 0, 0.15),
              0px 12px 10px -10px rgba(0, 0, 0, 0.05);
}

#number{
  font-weight: 600px;
  color: #555;
}

.english-circle{
  fill: none;
  stroke: url(#GradientColor);
  stroke-width: 20px;
  stroke-dasharray: 306;
}

.french-circle{
  fill: none;
  stroke: url(#GradientColor);
  stroke-width: 20px;
  stroke-dasharray: 306;
}

.english-circle{
  fill: none;
  stroke: url(#GradientColor);
  stroke-width: 20px;
  stroke-dasharray: 377;
}

.french-circle{
  fill: none;
  stroke: url(#GradientColor);
  stroke-width: 20px;
  stroke-dasharray: 188;
}

.spanish-circle{
  fill: none;
  stroke: url(#GradientColor);
  stroke-width: 20px;
  stroke-dasharray: 306;
}

svg{
  position: relative;
  top: -160px;
  left: 0;
}

.languages{
  text-align: left;
  padding-left: 20%;
}

.language-details{
  align-items: center;
}

.language-name{
  text-align: center;
}

/* cloud-arts */

.clouds-art{
  position: absolute;
  width: 150px;
  z-index: -1;
}

.clouds-art-01{
  top: 70px;
}

.clouds-art-02{
  top: 50px;
  right: 400px;
}

.clouds-art-03{
  top: 600px;
  right: 350px;
}

.clouds-art-04{
  top: 455px;
  left: 700px;
}

.clouds-art-05{
  top: 650px;
  left: 550px;
}

.clouds-art-06{
  top: 800px;
  right: 200px;
}

.clouds-art-07{
  top: 1020px;
  left: 400px;
}

.clouds-art-08{
  top: 1250px;
  left: 600px;
}

.clouds-art-09{
  bottom: 50px;
  right: 200px;
}

.clouds-art-10{
  top: 250px;
  right: 100px;
}

.clouds-art-11{
  top: 300px;
  left: 300px;
}

.bottum-padding{
  padding-bottom: 240PX;
}

footer{
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  background-color: $blue-300;
}

.bottum-icons{
  width: 10px;
}

.footer-bottum{
  height: 220px;
}
